//--------------------------------------NAV 
.container .header-style {
    .headerStyle();
 }
 .show-div {
     .expandStyle();
     .check {
         .check();
         h1 {
             .colorNavSecondary();
         }
         p {
             .colorNav();
         }
     }
     nav {
         .navStyle();
         a{
             color:white;
             padding-top: 2%;
             text-decoration: none;
             &:hover{
                 color:gray;
             }
         }
     }
 }

  .close {
     cursor: pointer;
 }