//--------------------------------------NAV 
.container .title-style {
    .headerStyle();
}
 .show-div {
     .expandStyle();
     .check {
         .check();
         h1 {
            .colorNavSecondary();
         }
         p {
             .colorNav();
         }
     }
     nav {
         .menu();
         a{
             color:white;
             padding-top: 2%;
             text-decoration: none;
             &:hover{
                 color:gray;
             }
         }
     }
 }

  .close {
     cursor: pointer;
 }
